{{>header}}

{{>navigation}}

<div class=row> 
    <div class="leftcolumn">
        <div class="card">
            <h2>Sign-up</h2>

            {{#success}}
            <p style="color:green">
          {{success}} <a href="/login">Login</a> to access your new account.
            </p>
        {{/success}}

        {{#error}}
        <p style="color:red">{{error}}</p>
        {{/error}}

<form method="POST" action="/signup">
    <label>Username:</label>
    <input type="text" name="username"><br /> <br />

    <label>Password:</label>
    <input type="password" name="password"><br /> <br />

    <button type="submit">Sign-up</button>
</form>
        </div>
    </div>
    {{>sidebar}}
</div>

{{>footer}}
